<nav class="navbar navbar-default">
<div class="container"> <!--alig el nav bar-->
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'UrbanCrew', root_path, class:'navbar-brand'%>

  </div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  <!--PERMITE ENCONDER LA LISTA EN UNA BARRA-->

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Nosotros", about_path %></li>

      <% if user_signed_in?%> <!--Si el usuario esta logeado hacer -->
      <li>  <%= link_to 'terminar sesion', destroy_user_session_path, method: :delete%></li>
      <% else %> <!-- de lo contrario hacer--->
      <li>  <%= link_to 'Iniciar sesion', new_user_session_path%></li>


      <% end %>

        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>
