<!DOCTYPE html>
<html>
<head>
  <title>Red</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--sirve para q al abrir la app en un mobil mejore la resolucion  -->
</head>
<body>
<%= render 'layouts/header'%> <!--  llamnamos nuetro archivo parcial  -->
 <!--comentario -->
<!--  <%= link_to "Inicio", root_path%>
    <%= link_to "Nosotros", about_path %> -->

<div class="container">
<%= yield %>
</div>

</body>
</html>
